{% extends "layout2.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
</style>
</head>
<body>

<br>

<h1>BASCHET - MEMBRII</h1>

<br>

<h2>Lista membrii grupa 2004 - 2005:</h2>

<br>

<h4>1.  Bartha Bogdan</h4>
<h4>2.  Bleiziffer Alex</h4>
<h4>3.  Costea Darius Nicusor</h4>
<h4>4.  Crisan Albert</h4>
<h4>5.  Molnar Laurentiu Nicolae</h4>
<h4>6.  Panazan Sebastian</h4>
<h4>7.  Pascu Bogdan</h4>
<h4>8.  Pastusec Alexandru Mihai</h4>
<h4>9.  Plesa Cristian Nicolae</h4>
<h4>10. Sandor Sergiu</h4>
<h4>11. Serghie David</h4>
<h4>12. Petras Dragos Ioan</h4>
<h4>13. Bian Andrei</h4>
<h4>14. Birlea Cristian</h4>
<h4>15. Aldea Alex</h4>
<h4>16. Hategan Dragos</h4>

<br>

<h2>Lista membrii grupa 2006 - 2008:</h2>

<br>

<h4>1. Crisan Eduard</h4>
<h4>2. Dani Pusca</h4>
<h4>3. Gabriel Coman</h4>
<h4>4. </h4>
<h4>5.</h4>
<h4>6.</h4>
<h4>7.</h4>
<h4>8.</h4>
<h4>9.</h4>
<h4>10.</h4>
<h4>11.</h4>
<h4>12.</h4>
<h4>13.</h4>
<h4>14.</h4>
<h4>15.</h4>
<h4>16.</h4>
<h4>17.</h4>
<h4>18.</h4>
<h4>19.</h4>
<h4>20.</h4>

<br>
<br>

</body>
</html>



	
{% endblock content %}