{% extends "layout2.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
</style>
</head>
<body>





<h1>&nbsp;&nbsp;&nbsp;BASCHET - POZE (GRUPA 2004-2005)</h1>

<br>
<br>

<button onclick="location.href='/blaj_sebes'" type="button">
     C.S.ATOMIC BLAJ - C.S. MALEMBACH SEBES (AMICAL) - 2017</button>

<br>
<br>

<button onclick="location.href='/cs_atomic_viitorul'" type="button">
     C.S. ATOMIC BLAJ - C.S. VIITORUL DEVA (AMICAL) - 2018</button>


<br>
<br>
<br>
<br>




<h1>&nbsp;&nbsp;&nbsp;BASCHET - POZE (GRUPA 2006-2008)</h1>
<br>
<br>

<button onclick="location.href='/baschet_poze_malembach_2018'" type="button">
     CUPA MALEMBACH BASCHET SEBES - 2018</button>

<br>
<br>

<button onclick="location.href='/blaj_sebes_2006_2008'" type="button">
      C.S. ATOMIC BLAJ - C.S. MALEMBACH SEBES (AMICAL) - 2017</button>

<br>
<br>

<button onclick="location.href='/atomic_viitorul_deva'" type="button">
     C.S. ATOMIC BLAJ - C.S. VIITORUL DEVA (AMICAL) - 2018</button>

<br>
<br>


</body>
</html>



	
{% endblock content %}