{% extends "layout.html" %}

{% block content %}

<br>

<h1>CONTACT</h1>

<br>
<br>
<br>
<br>

<h2>Nr. de telefon antrenor: 0740944537</h2>

<br>
<br>

<h3>Facebook personal antrenor: Balu Dan</h3>
<a href="https://www.facebook.com/balu.dan?ref=br_rs">Balu Dan - facebook personal</a>

<br>
<br>
<br>

<h4>Instagram personal antrenor: @bdnike72</h4>

<br>
<br>

<h5>Facebook club: Clubul Sportiv Atomic Blaj</h5>
<a href="https://www.facebook.com/clubulsportivatomicblaj/">ACS - ATOMIC BLAJ - facebook</a>

<br>
<br>
<br>

<p>Designer site: Crisan Albert</p>

	
{% endblock content %}