{% extends "layout.html" %}


{% block content %}

  <br>


<h1>ACS - ATOMIC BLAJ</h1>

  <br>
  <br>
  <br>

  <img src="/static/image/atomic.jpg" alt="imagine neincarcata" width="333" height="333">

  <br>
  <br>
  <br>

  <h2>ACS - Atomic Blaj este un club sportiv infiintat in anul 2016 de catre profesorul de educatie fizica Dan Balu. Clubul nostru a participat la mai multe competiti la categoria volei si baschet. Domnul profesor Dan Blau se ocupa de ambele echipe : volei si baschet ! Informatiile despre contact le puteti gasi la categoria CONTACT !</h2>

{% endblock content %}



