{% extends "layout3.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
</style>
</head>
<body>

<h1>VOLEI</h1>

<br>
<br>

<h2>Echipa de volei a clubului ATOMIC BLAJ este formata doar din fete.</h2>

<br>
<br>

<img src="/static/image/volei_poza.jpg" alt="imagine neincarcata" width="400" height="275">

<br>
<br>

<img src="/static/image/volei_poza 2.jpg" alt="imagine neincarcata" width="400" height="275">

<br>
<br>

</body>
</html>



	
{% endblock content %}