{% extends "layout3.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white;}
h1   {color: black;}
</style>
</head>
<body>





<h1>&nbsp;&nbsp;&nbsp;VOLEI POZE</h1>

<br>
<br>

<button onclick="location.href='/volei_poze_one'" type="button">
     C.S.ATOMIC BLAJ - C.S. 'TARGU - MURES' - 2018</button>

<br>
<br>

<button onclick="location.href='/volei_poze_two'" type="button">
     C.S. ATOMIC BLAJ - C.S. 'DEVA' - 2018</button>

<br>
<br>

<button onclick="location.href='/volei_poze_tree'" type="button">
     C.S. ATOMIC BLAJ - C.S. 'SIBIU' - 2018</button>

<br>
<br>

<button onclick="location.href='/volei_poze_four'" type="button">
       SERIA K - TURNEU - 2018 (mai sunt si altele 3)</button>

<br>
<br>

</body>
</html>



	
{% endblock content %}