{% extends "layout.html" %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
</head>
<body>

<br>
<br>
<br>


<h1 align="center">- Informatii despre mine -</h1>

<br>
<br>

<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salut! Eu ma numesc Crisan Albert si locuiesc intr-un orasel mic, de langa Alba Iulia(la aprox.40 km) care se numeste Blaj. Mie imi place sa programez si sa ingrijesc plante.<h5>

<br>
<br>

<h5>Telefon: 0724248152</h5>

</body>
</html>


{% endblock content %}